// Mixins
@import "./imports/mixins";
@import "./imports/variables";

// Components
@import "./components/map";

// Pages
@import "./pages/peopleInSpace";
@import "./pages/homePage";

// Resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

div {
  &.container {
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    a {
      &.go-back-btn {
        z-index: 999;
        position: absolute;
        bottom: 10px;
        left: 20px;
        width: 40px;
        font-size: 1.5rem;
        font-weight: 700;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $white;
        padding: 5px;
        margin: 20px 0;
        color: $dark-blue;
        box-shadow: 4px 4px 16px rgba($dark-blue, 0.4);
        transition: transform ease-in-out 0.2s;
        &:hover {
          transform: scale(1.1);
          color: $accent;
        }
      }
    }
  }
}
